%%------------------------------------------------------------------------------
%%
%% the cron tab running in erlang
%%
%% please see also crontab(5) : man 5 crontab
%%
%%  field               allowed values
%%  -----               --------------
%%  minute(m)           0-59
%%  hour(h)             0-23
%%  day of month(dom)   1-31
%%  month(mon)          1-12
%%  day of week(dow)    0-7 (0 or 7 is Sun)
%%
%% Format:
%%
%% {{m, h, dom, mon, dow}, {M, F, A}}.
%% M:F(A) is excuted in a new erlang process
%%
%% Some exampls:
%%
%% {{0, 2, "*", "*", "*"}, {io, format, ["hello~n"]}}.
%% print "hello" in hour 2 ervery day
%%
%% {{"0-59/2", "*", "*", "*", "*"}, {erlang, garbage, [whereis(user)]}}.
%% do the garbage collect on user process, every 2 minitues(0, 2, ..., 58)
%%
%% {{0, "0-12/2,12-23/1", "*", "*", "*"}, {io, format, ["crontab!~n"]}}.
%% print "crontab!", every 2 hours between 0 and 12, every 1 hour between 12 and 23
%%
%%-----------------------------------------------------------------------------

{{51, "*", "*", "*", "*"}, {myevent, save_events, []}}. %% 保存事件管理器中的数据
%% vim: ft=erlang :
