<?xml version="1.0" encoding="utf-8"?>
<root>
	<server>http://42.121.111.191/server_list.php</server> <!--服务器地址-->
	<isAutoLogin>false</isAutoLogin>  <!--是否自动登录 -->
	<isWarPass>false</isWarPass>    <!--是否战斗跳过 -->
	<gameCenterLogin>true</gameCenterLogin>  <!--游戏中心登录-->
	<checkUpdate>false</checkUpdate>  <!--是否检测游戏更新-->
</root>