@charset "utf-8";
/* CSS Document */

/*reset*/
body,ol,ul,li,dl,dd,p,h1,h2,h3,h4,h5,form,input,button,textarea,tr,th,td{margin:0;padding:0;}
body{margin:0;font-family: Arial,\5B8B\4F53,Helvetica,"Microsoft YaHei","Helvetica Neue",sans-serif;font-size:12px;line-height:1.5;color:#333;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;overflow-y:scroll;}
img{height:auto;border:0;-ms-interpolation-mode:bicubic;}
ol,ul,li{list-style:none outside none}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
input{outline:none}
button::-moz-focus-inner,
input::-moz-focus-inner{padding:0;border:0;}
button, html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
label, select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"]{cursor:pointer;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;outline:none;font-family:Arial,\5fae\8f6f\96c5\9ed1,\5B8B\4F53;}
em{font-style:normal}
sub,sup{position:relative; font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-0.5em}
sub{bottom:-0.25em}
table{border-collapse:collapse;border-spacing:0;}

/* link */
a{color:#0182A9;text-decoration:none;}
a:focus{outline:0 none;}
a:hover,a:active{outline:0}
a:hover{text-decoration:underline}
a.line,.tdu{text-decoration:underline}
a.unline,.tdn{text-decoration:none}

.clearfix:after{display:block;content:'';height:0;clear:both;visibility:hidden;}
.clearfix{display:block;*zoom:1;}
.cb{clear:both;}


.index-page{color:#DDD;font-family:'宋体';background:url(../images/bg.jpg) repeat;}
h1{width:1024px;margin:0 auto;padding-top:10px;height:174px;background:url(../images/logo.png) no-repeat center 10px;text-indent:-999em;overflow:hidden;}
.wrapper{position:relative;width:1024px;height:505px;margin:0 auto;background:url(../images/wrapper-bg.jpg) no-repeat;}
.qrcode{position:absolute;top:44px;right:50px;width:234px;height:235px;background:url(../images/qrcode.png) no-repeat;}
.ios-download,.android-download{position:absolute;top:296px;right:68px;width:182px;height:49px;text-indent:-999em;background:url(../images/ios-down.png) no-repeat;overflow:hidden;}
.android-download{width:183px;height:49px;top:362px;background:url(../images/android-down.png) no-repeat;text-indent:-999em;overflow:hidden;}

.footer{width:1024px;margin:0 auto;}
.contact-msg{line-height:24px;}
.contact-msg dt{float:left;width:464px;text-align:right;}
.contact-msg dd{margin-left:464px;}
.contact-msg .qq,.contact-msg .wechat{display:inline-block;height:24px;line-height:24px;padding-left:20px;background:url(../images/icon-qq.png) no-repeat 0 center;}
.contact-msg .wechat{padding-left:24px;background:url(../images/icon-wechat.png) no-repeat 0 center;}

.copyright{padding:10px 0 30px;text-align:center;}
