[
    {myserver, [
            {version_type, dev}
            ,{version, "1.5.5"}
            %% ,{verify_receipt, "https://buy.itunes.apple.com/verifyReceipt"}
            ,{verify_receipt, "https://sandbox.itunes.apple.com/verifyReceipt"}
            ,{activity_grade,"https://itunes.apple.com/cn/app/meng-shou-tang/id785823993?mt=8"}
            ,{activity_download,"https://itunes.apple.com/cn/app/meng-shou-tang/id785823993?mt=8"}
            ,{server_key, "23d7f859778d2093"}
            ,{server_id, 200}
            ,{tcp_port, 8401}
            ,{robot_accounts, [1, 200]}
            ,{online_max, 10000}
            ,{platform, tx}
            ,{update_url, <<"https://itunes.apple.com/cn/app/meng-shou-tang/id785823993?mt=8">>}
            ,{tcp_acceptor_num, 10}
            %% TODO:保存玩家数据的时间间隔
            %% 上线时要改长一点
            ,{role_saving_interval, 900000}
            ,{tcp_options, [
                    binary
                    ,{packet, 0}
                    ,{active, false}
                    ,{reuseaddr, true}
                    %% ,{nodelay, true}
                    %% ,{delay_send, false}
                    ,{exit_on_close, false}
                    ,{send_timeout, 10000}
                    ,{send_timeout_close, false}
                ]
            }
            ,{db_host, "127.0.0.1"}
            ,{db_port, 3306}
            ,{db_user, "mst_2funfun0"}
            ,{db_pass, "Uh9uCCrfwfjBZLXM"}
            ,{db_name, "mst_2funfun0"}
            ,{db_encode, utf8}
            ,{db_connector_num, 12}
        ]},
    {sasl, [
            {sasl_error_logger, false},
            {errlog_type, error},
            {error_logger_mf_dir,"log"},
            {error_logger_mf_maxbytes,10485760},
            {error_logger_mf_maxfiles, 5},
            {overload_max_intensity, 20},
            {overload_weight, 0.7}
        ]}
].

%%% vim: set foldmethod=marker filetype=erlang foldmarker=%%',%%.:
