%% -------------------------------------------------
%% $Id$
%% application config
%% @author Rolong<rolong@vip.qq.com>
%% -------------------------------------------------

[
    %% 环境变量
    %% Useage: env:get(var_name)
    {login_server, [
            {version_type, dev}
            ,{version, "1.0.1"}
            ,{listen_to_user_port, 54801}
            ,{listen_to_game_server_port, 54802}
            ,{background553_port, 9001}
            %% ,{server_id, 7}
            %% ,{server_name, "yly"}
            %% ,{login_server_ip, "127.0.0.1"}
            %% ,{login_server_port, 54802}
            %% %% ,{listen_to_user_ip, "127.0.0.1"} %% 默认是本机IP
            %% ,{listen_to_user_port, 6788}
            %% ,{tcp_options, [
            %%         binary
            %%         ,{packet, 0}
            %%         ,{active, false}
            %%         ,{reuseaddr, true}
            %%         %% ,{nodelay, true}
            %%         %% ,{delay_send, false}
            %%         ,{exit_on_close, false}
            %%         ,{send_timeout, 10000}
            %%         ,{send_timeout_close, false}
            %%     ]
            %% }
            %% MySql数据库配置
            ,{mysql_host, "127.0.0.1"}
            ,{mysql_user, "xianxia"}
            ,{mysql_port, 3306}
            ,{mysql_name, "xianxia"}
            ,{mysql_pass, "xianxia26076116"}
            ,{mysql_encode, utf8}
            ,{mysql_connector_num, 12}
            %% 日志数据库
            ,{log_mysql_name, "xianxia"}
            ,{background553_ip, "127.0.0.1"}
            ,{platform_test_check, 0}
            ,{platforms, [
                    %% {platform_id, ip, port} 
                    %% port: 此值不是端口, 
                    %%       平台验证用户登录地址是正式还是测试标签，
                    %%       0表示正式，!=0表示测试
                    {100, "127.0.0.1", 0} %% 测试平台
                    ,{101, "127.0.0.1", 0} %% 553_ios平台
                    ,{108, "127.0.0.1", 0} %% 553_android平台
                    ,{103, "127.0.0.1", 0} %% 苹果商店平台
                    ,{111, "127.0.0.1", 0} %% 360android平台
                ]}
        ]},
    {sasl,[
            %% minimise shell error logging
            {sasl_error_logger,false},
            %% only report errors
            {errlog_type,error},
            %% the log file directory
            {error_logger_mf_dir,"log"},
            %% bytes per logfile
            {error_logger_mf_maxbytes,10485760}, % 10MB
            %% max mumber of log files
            {error_logger_mf_maxfiles,10}
        ]}].

%%% vim: set foldmethod=marker filetype=erlang foldmarker=%%',%%.:
