%%------------------------------------------------------------------------------
%%
%% the cron tab running in erlang
%%
%% please see also crontab(5) : man 5 crontab
%%
%%  field               allowed values
%%  -----               --------------
%%  minute(m)           0-59
%%  hour(h)             0-23
%%  day of month(dom)   1-31
%%  month(mon)          1-12
%%  day of week(dow)    0-7 (0 or 7 is Sun)
%%
%% Format:
%%
%% {{m, h, dom, mon, dow}, {M, F, A}}.
%% M:F(A) is excuted in a new erlang process
%%
%% Some exampls:
%%
%% {{0, 2, "*", "*", "*"}, {io, format, ["hello~n"]}}.
%% print "hello" in hour 2 ervery day
%%
%% {{"0-59/2", "*", "*", "*", "*"}, {erlang, garbage, [whereis(user)]}}.
%% do the garbage collect on user process, every 2 minitues(0, 2, ..., 58)
%%
%% {{0, "0-12/2,12-23/1", "*", "*", "*"}, {io, format, ["crontab!~n"]}}.
%% print "crontab!", every 2 hours between 0 and 12, every 1 hour between 12 and 23
%%
%%-----------------------------------------------------------------------------

{{"0-59/5", "*", "*", "*", "*"}, {lib_log, online_num, []}}. %% 在线人数统计
{{59, 20, "*", "*", "*"}, {mod_colosseum, update_rank, []}}. %% 更新新版竞技排行榜
{{0, 21, "*", "*", "*"}, {lib_admin, send_honor, []}}. %% 发荣誉值
{{20, 4, "*", "*", "*"}, {lib_log, user_stat, []}}. %% 每天用户（注册、活跃、在线）统计
{{30, 4, "*", "*", "*"}, {lib_log, retention, []}}. %% 留存统计
{{40, 4, "*", "*", "*"}, {lib_log, buy_shop_num, []}}. %% 商城购买日志
{{33, "*", "*", "*", "*"}, {mod_luck, save_data_to_db, []}}. %% 保存幸运星排行数据
{{35, 4, "*", "*", "*"}, {mod_luck, update_rank, []}}. %% 更新幸运星排行榜
{{0, 0, "*", "*", 1}, {mod_luck, update_luck_id, []}}. %% 更新幸运星期数
{{"0-59/30", "*", "*", "*", "*"}, {cache, save, []}}. %% 保存cache
{{"0-59/40", "*", "*", "*", "*"}, {cache, clean, []}}. %% 整理cache
{{0, 0, "*", "*", "*"}, {lib_admin, reset_cast, []}}. %% 凌晨广播重置在线用户数据
{{0, "0-23/2", "*", "*", "*"}, {mod_mail, delete_overdue_mail1, []}}. %% 凌晨清理过期邮件
{{0, "0-23/2", "*", "*", "*"}, {mod_mail, delete_overdue_mail2, []}}. %% 凌晨清理过期邮件
{{1, 21, "*", "*", "*"}, {mod_rank, reset_rank, []}}. %% 排行榜服务更新
{{51, "*", "*", "*", "*"}, {myevent, save_events, []}}. %% 保存事件管理器中的数据
%% vim: ft=erlang :
